{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">Login</div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <!-- Render the form fields -->
                    {{ form.as_p }}
                    <!-- Submit button -->
                    <input type="submit" class="btn btn-sm btn-dark" value="Login">
                    <!-- Link to sign-up page for the users without accounts -->
                    <span>Don't have an account? </span><a href="{% url 'signup' %}">Sign-up</a>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}