{% extends 'base.html' %}
{%load static %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">Note Details</div>
            <div class="card-body">
                <h1 class="fs-5">{{note.title}}</h1>
                <p>{{note.text}}</p>
            </div>
            <div class="card-footer">
                <a href="{% url 'notes.list' %}" class="btn btn-sm btn-primary">Back</a>
                <a href="{% url 'notes.update' pk=note.id %}" class="btn btn-sm btn-warning">Edit</a>
                <a href="{% url 'notes.delete' pk=note.id %}" class="btn btn-sm btn-danger">Delete</a>
                <p>Important: {{ note.is_important }}</p>
    
                <form action="{% url 'toggle_important' note.pk %}" method="post">
                    {% csrf_token %}
                    <button type="submit">
                        {% if note.is_important %}
                            Mark as not important
                        {% else %}
                            Mark as important
                        {% endif %}
                    </button>
                    <span>
                        {% if note.is_important %}
                            This note is important
                        {% else %}
                            
                        {% endif %}
                    </span>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}