{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col">
        <div class="notes_list_heading text-center mb-5">
            <h1 class="fs-4">These are the notes</h1>
        </div>
    </div>
</div>

<div class="row">
    {% for note in notes %}
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">{{ note.title }}</div>
            <div class="card-body">
                <p>{{ note.content|truncatechars:40 }}</p>
            </div>
            <div class="card-footer">
                <a href="{% url 'notes.detail' pk=note.id %}" class="btn btn-info btn-sm">View Note</a>
                <button class="btn btn-warning btn-sm toggle-important" data-id="{{ note.pk }}">
                    {% if note.is_important %}
                        Mark as not important
                    {% else %}
                        Mark as important
                    {% endif %}
                </button>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function(){
        $('.toggle-important').click(function(){
            var button = $(this);
            var noteId = button.data('id');
            $.ajax({
                url: '/note/' + noteId + '/toggle-important/',
                method: 'POST',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(response) {
                    var importantStatus = response.is_important;
                    if (importantStatus) {
                        button.text('Mark as not important');
                    } else {
                        button.text('Mark as important');
                    }
                }
            });
        });
    });
</script>

{% endblock %}    
    