{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <!-- Bootstrap card for displaying note details -->
        <div class="card">
            <div class="card-header">Note Details</div>
            <div class="card-body">
                <h1 class="fs-5">{{ note.title }}</h1>
                <p>{{ note.text }}</p>
            </div>
            <div class="card-footer">
                <!-- Buttons for edit and delete functionality and back button -->
                <a href="{% url 'notes.list' %}" class="btn btn-sm btn-dark">Back</a>
                <a href="{% url 'notes.update' pk=note.id %}" class="btn btn-sm btn-dark">Edit</a>
                <a href="{% url 'notes.delete' pk=note.id %}" class="btn btn-sm btn-dark">Delete</a>
                <br>
                <!-- Form for toggling important status -->
                <form action="{% url 'toggle_important' note.pk %}" method="post">
                    {% csrf_token %}
                    <span>
                        {% if note.is_important %}
                            This note is important.
                        {% else %}
                            <!-- No need for text as the button will show 'Mark as important' -->
                        {% endif %}
                    </span>
                    <button type="submit" class="btn btn-sm btn-dark m-4">
                        <!-- Boolean logic to toggle text on the 'important' button -->
                        {% if note.is_important %}
                            Mark as not important
                        {% else %}
                            Mark as important
                        {% endif %}
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}