{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col">
        <div class="notes_list_heading text-center mb-5">
            <h1 class="fs-4">Your Notes</h1>
        </div>
    </div>
</div>

    {% if not notes|filter:is_important:true %}
    {% for note in notes %}
    <div class="row">
    <div class="col-12 w-25 justify-content-center>
    <div class="note-title border">{{ note.title }}</div>
    </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="row">
    <div class="col-md-6 justify-content-center">
    {% for note in notes|filter:is_important:true %}
    <div class="note-title border m-5">{{ note.title }}</div>
    {% endfor %}
    <div class="col-md-6 justify-content-center">
    {% for note in notes|filter:is_important:false %}
    <div class="note-title border m-5">{{ note.title }}</div>
    {% endfor %}
    </div>
    </div>

    

    </div>

    
    <!-- <div class="col-md-4">
        <div class="card">
            <div class="card-header">{{ note.title }}</div>
            <div class="card-body">
                <p>{{ note.content|truncatechars:40 }}</p>
            </div>
            <div class="card-footer">
                <a href="{% url 'notes_detail' pk=note.id %}" class="btn btn-info btn-sm">View Note</a>
            </div>
        </div>
    </div> -->
    {% endfor %}




{% endblock %}    
        